* {
 
    box-sizing:border-box;
    border-width: 5px;
}

.header { 
    padding: 50px;
    grid-area: header;
}
#main_menu {
    background: fixed linear-gradient(to bottom, #c0d5f7, var(--bs-primary-bg-subtle));
}
.main_section {
    display: flex;
    flex-direction: row-reverse;
   
    align-items: center;
    grid-area: main_section;
    background-color: rgba(12, 64, 174, 0.73);     /*  border-color: rgb(38, 38, 198); background-color: rgba(12, 64, 174, 0.73)*/
    border-style:outset;
    border-width: 20px;
    border-color: rgb(38, 38, 198);
    font-family: 'Wellfleet', sans-serif;
}
.enter_here{
        display: flex;
        height: 200px;
        width: 200px;
}


.footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 400px ;
    background-color: rgb(69, 111, 196);
    grid-area: footer;
}



body {
    height: 100vh;
    display: grid;
    grid-template-rows:2fr 2fr 3fr 2fr 1fr;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-areas: 
    "header header header"
    ". . ."
    ". main_section ."
    ". . ."
    "footer footer footer";
    gap: 5px;
    background: fixed linear-gradient(to top, #2b5db3, var(--bs-primary-bg-subtle));
}



.profile_pic img {
   width: 50%;
   height: auto;
   border-radius: 40%;
   border-width: 5px;
   border-style: solid;
   border-color: #1f4380;
  
}

.name_title {
    padding: 0px 100px 200px 100px;
   
  
    
}
.main_content {

    padding: 50px 100px 75px 100px;
}